.early-warning-center{
    background: red;
    .chart-box{
        position: fixed;
        width: 100%;
        height: 1.84rem;
        bottom: 0;
        left: 0;
    }
    #colume{
        width: 5.5rem;
        height: 1.84rem;
    }
}