.chart-item{
  width:100%;
  height:100vh;
  background: #fff;
}
.chart-one {
  width: 3rem;
  height: 3rem;
  background: transparent;
    //background: url("../../images/border-z.png") no-repeat;
    //background-size: 100% 100%;
}