.tab{
    width: 100%;
    background: black;
    position: relative;
    z-index: 99999;

    .container{
        width: 7.31rem;
        height: .36rem;
        margin: 0 auto;
        color: rgba(147, 193, 254,0.5);
        align-items: flex-start;
        font-size: .09rem;
        .tab-item{
            background: url("../../images/nav/left.png");
            background-size: 100% 100%;
            height: .22rem;
            line-height: .22rem;
            text-align: center;
            flex-grow: 1;
            cursor:pointer;
            width: .89rem;
            margin-top: .03rem;
        }
        .tab-right{
            background: url("../../images/nav/right.png");
            background-size: 100% 100%;
        }
        .tab-item-current{
            background: url("../../images/nav/leftClick.png");
            background-size: 100% 100%;
            color: #FEFEFE !important;
        }
        .tab-item-right-current{
            background: url("../../images/nav/rightClick.png");
            background-size: 100% 100%;
        }
        .tab-title{
            height: 100%;
            color: #fff;
            background: url("../../images/nav/middle.png");
            background-size: 100% 100%;
            line-height: .36rem;
            width: 2.78rem;
            text-align: center;
            font-size: .13rem;
        }
    }
}
