@import '../../base/css/flex.less';
@import '../../base/project-common.less';

.index-list{
  overflow: hidden;
  background: black;
  .map{
    position: absolute;
    width: 100%;
    height: 100%;
    #map{
      width: 100%;
      height: 100%;
    }
  }
  .amap-toolbar{
    left: 50% !important;
    top: 90% !important;
    bottom: 0 !important;
    transform: rotateZ(90deg);
  }
}

//列表
.left-list{
  float: left;
  position: relative;
  width:1.97rem;
  height:4.95rem;
  padding: .07rem .09rem .1rem .12rem;
  font-size: 9px;
  color: #fff;
}
.search-top{
  .flex-container-setting()
}
.search-btn{
  width:.4rem;
  height:.17rem;
  line-height: .17rem;
  color: #fff;
  background: #1990FF;
  text-align: center;
  margin-right:.03rem;
}
.search-input{
  width: 1.37rem;
  height:.17rem;
  line-height: .17rem;
  border: 1px solid #539CFF;
  background:rgba(25,74,141,.4);
  padding: 0 .05rem  0 0.07rem;
  position: relative;
  >input{
    width:1.1rem;
    background: transparent;
    border: none;
    color: #FEFEFE;
  }
  input::-webkit-input-placeholder { /* WebKit browsers */
    color: #FEFEFE;
  }
  >i{
    font-size: 11px;
    position: absolute;
    right: .02rem;
  }
  .search-list{
    width: 1.37rem;
    border: 1px solid #539CFF;
    border-top: none;
    background:rgba(25,74,141,.4);
    position: absolute;
    top:.16rem;
    left: -1px;
    display: none;
    >li{
      width:100%;
      padding: .03rem .05rem .03rem .07rem;
    }
    >li.checked-list{
      background: rgba(7,44,69,.7);
    }

  }
}
.one-six{
  color: #009CFF;
  margin:.08rem 0 .09rem 0;
}
.six-item{
  width: 1.75rem;
  li{
    width:1.75rem;
    height:.15rem;
    cursor: pointer;
   // line-height: .15rem;
    margin-bottom:.05rem;
    .flex-container-setting();
    .item-info{
      width:1.03rem;
      background: rgba(10,48,97,.6);
      color: #fff;
      padding-left: .06rem;
    }
    .item-count{
      width: .72rem;
      background: #0A3061;
      color: #FFEA00;
      text-align: right;
      padding-right: .07rem;
    }
  }
  li.six-checked{
    border: 1px solid #FFC000;
  }
}
.checkAll{
  margin:.11rem 0 .06rem;
}
.check-item{
  display: inline-block;
  >img {
    width: .08rem;
    height: .08rem;
    margin-right:.03rem;
    vertical-align: middle;
  }
  margin-right:.14rem;
}

.tab-com{
  width: 1.79rem;
  height:0.17rem;
  line-height: .17rem;
  background: rgba(83,156,255,.5);
  color: #FEFEFE;
  padding: 0 .07rem;
  >i{
    float: right;
    font-size: 11px;
  }
}
.switch-item{
  width: 1.79rem;
  padding: .1rem .07rem;
  >li{
    width:50%;
    float: left;
    margin-bottom:.13rem;
  }
}
.chart-title{
  >p{
    display: inline-block;
    margin-right:.12rem;
  }
}
.circles{
  display: inline-block;
  width: .07rem;
  height: .07rem;
  border-radius: 50%;
  margin-right:.05rem;
}
.bg-blue{
  background: #539CFF;
}
.bg-yellow{
  background: #F8B551;
}
.bg-red{
  background: #E71F19;
}

.current-tab{
  border: 1px solid #FFC000;
}
.slid-out{
  transform: translateX(2.32rem);
}

//雷达
.radar{
  width:2.24rem;
  position: fixed;
  bottom:.1rem;
  right: .1rem;
  font-size: 9px;
  .waring{
    width:2.24rem;
    height:.44rem;
    border: 1px solid #FF0000;
    background:rgba(255,0,0,.2);
    padding:.1rem .13rem;
    color: #fff;
    .flex-container-setting();
    margin-bottom:.06rem;
    >img {
      width:.2rem;
      margin-right:.13rem;
    }
  }

  @-webkit-keyframes rotate{
 	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
	}

  .scan{
    width: 2.23rem;
    height: 1.87rem;
    border: 1px solid #0B5ECF;
    position: relative;
    background: #000;
    .scan-circle{
      width: 1.73rem;
      height: 1.73rem;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -65%);
      border: 1px solid #0B5ECF;
      border-radius: 50%;
      >img  {
        width: .7rem;
        height: .7rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: All 2s ease-in-out;
        transform-origin: left top;
        animation: 9.5s linear 0s normal none infinite rotate;
      }
    }
    .warn-count{
      width: 1.03rem;
      height: .28rem;
      border: 1px solid #E71F19;
      color: #FF1818;
      background: rgba(0,0,0,0.5);
      padding: 0.08rem .1rem ;
      position: relative;
      z-index: 10;
    }
  }
}

// 右边的弹框
.model-right{
  float: right;
  margin-right: .08rem;
  transition: 0.5s;
  //实有人口
  .person-count{
    width:2.32rem;
    height: 3.5rem;
    padding: .12rem .07rem .09rem .07rem;
    color: #fff;
    font-size: 9px;
    .font-7{
      font-size: .07rem;
    }
    .search-input-right{
      width: 2.18rem;
      height:.17rem;
      line-height: .17rem;
      border: 1px solid #539CFF;
      background:rgba(25,74,141,.4);
      padding: 0 .05rem  0 0.07rem;
      position: relative;
      >input{
        width:1.9rem;
        background: transparent;
        border: none;
        color: #FEFEFE;
      }
      input::-webkit-input-placeholder { /* WebKit browsers */
        color: #FEFEFE;
      }
      >i{
        font-size: 11px;
        position: absolute;
        right: .02rem;
      }
      .search-right-list{
        width: 2.18rem;
        border: 1px solid #539CFF;
        border-top: none;
        background:rgba(25,74,141,.4);
        position: absolute;
        top:.16rem;
        left: -1px;
        display: none;
        >li{
          width:100%;
          padding: .03rem .05rem .03rem .07rem;
        }
        >li.checked-list{
          background: rgba(7,44,69,.7);
        }

      }
    }
    .sel-item{
      margin:.07rem 0;
      .sels{
        width: 1.06rem;
        height: .17rem;
        border: 1px solid #539CFF;
      }
    }
    .person-list{
      width: 2.18rem;
      height:2.55rem;
      overflow: scroll;
      >li{
        width:2.13rem;
        padding: .04rem .05rem .04rem 0 ;
        border-bottom: 1px solid #0075FC;
        margin-bottom:.06rem;
        .flex-container-setting(@justify-content:flex-start);
        .person-pic{
          width: .38rem;
          height: .45rem;
          margin-right:.04rem;
          border: 1px solid #539CFF;
          >img  {
            width:100%;
            height:100%;
          }
        }
        .person-info{
          font-size: .07rem;
          .base-info{
            .flex-container-setting(@justify-content:flex-start);
            .sex{
              margin-left:.15rem;
              margin-right:.11rem;
              padding-left:.11rem;
              padding-right:.14rem;
              position: relative;
              &:before,&:after{
                content: '';
                position: absolute;
                top: 30%;
                width: 1px;
                height: .06rem;
                background: #367EDE;
              }
              &:before{
                left: 0;
              }
              &:after{
                right: 0;
              }
            }
          }
          .label-item{
            margin-top:.03rem;
          }
          .person-label{
            width: .32rem;
            height: .11rem;
            background: #FF0000;
            color: #fff;
            border-radius: 3px;
            font-size: .06rem;
            padding: 0 .05rem;
          }
        }
        .color-blue{
          color: #009CFF;
        }
      }
      >li.checked-people{
        background: rgba(0,148,252,.3);
        border: 1px solid #FFC000;
      }
    }
    .bulr{
      width:100%;
      height: .25rem;
      background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1));
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .slide-up{
      width: .17rem;
      height: .33rem;
      text-align: center;
      padding: .04rem 0;
      background:rgba(14,94,182,.72);
      color: #4FB2FE;
      border-radius: 13px 0 0 13px;
      position: absolute;
      left: -.17rem;
      top:0;
      padding: 5px;
    }
  }
  // 图表
  .chart-box{
    text-align: right;
    color: #fff;
    position: relative;
    margin-top: .06rem;
    .page{
      position: absolute;
      z-index: 999;
      top: 0.11rem;
      right: .11rem;
      width: 100%;
      justify-content: flex-end;
      .btn{
        color: #0096FF;
        width: .19rem;
        height: .12rem;
        line-height: .1rem;
        text-align: center;
        border: 1px solid #0096FF;
        margin-left: .03rem;
        i{
          font-size: .04rem;
        }
      }
      .left{
        background: #0096FF;
        color: #fff;
      }
    }
    #colume,#pie{
      width: 2.32rem;
      height:1.41rem;
      .highcharts-background{
        //fill: rgba(12, 20, 55, .68);
        fill: none;
      }
      .highcharts-yaxis-labels{
        text{
          fill:#fff !important;
        }
      }
      .zhangjiayu{
        text{
          fill:#76797F !important;
        }
      }
      .highcharts-title{
        position: absolute;
        left: .05rem !important;
        top: .11rem !important;
        font-size: .09rem !important;
        line-height: 1;
        color: #46A1FE !important;
      }
      .highcharts-point{
        // fill:url('../../images/x.svg');
        stroke:none;
      }
      .highcharts-grid-line,.highcharts-axis-line{
        stroke:#00AEFF
      }
      .highcharts-xaxis-grid{
        .highcharts-grid-line{
          stroke: none !important;
        }
      }

      .highcharts-legend-item:nth-child(1){
        .highcharts-point{
          fill: #009AE5;
          rx:0;
          width: 8px;
          height: 8px;
        }
      }
      .highcharts-legend-item:nth-child(2){
        .highcharts-point{
          fill: #FF0000;
          rx:0;
          width: 8px;
          height: 8px;
        }
      }
      .highcharts-legend-item{
        span{
          color: #fff !important;
          font-size: 12px !important;
          top: 0 !important;
        }

      }
    }
    .pir-box{
      width: 2.32rem;
      height:1.41rem;
      position: relative;
      padding-top: .38rem;
      padding-left: .38rem;
      .title{
        position: absolute;
        top: .12rem;
        left: .06rem;
        color: #009CFF;
        font-size: .09rem;
      }
      #pie{
        border: 1px solid #2EA7D1;
        border-radius: 100%;
        width: .92rem;
        height: .92rem;
      }
      .legend{
        width: max-content;
        font-size: .07rem;
        position: absolute;
        top: .43rem;
        right: .21rem;
        .legend-item{
          justify-content: flex-start;
          margin-top: .03rem;
        }
        .color{
          width: .11rem;
          height: .06rem;
          margin-right: .04rem;
        }
      }
    }

  }
}

//实有房屋弹窗
.tips-house{
  width: 2.29rem;
  //height: 1.92rem;
  border:1px solid #265DC0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:rgba(7,44,69,.7);
  font-size: .08rem;
  padding: .12rem;
  .house-name{
    color: #0094FC;
    margin-bottom:.12rem;
  }
  .house-num{
    >li{
      width: .46rem;
      height: .2rem;
      line-height: .2rem;
      border: 1px solid #0094FC;
      text-align: center;
      color: #FEFEFE;
      background: rgba(0, 148, 252, .7);
      margin:0 .04rem .05rem 0;
      float: left;
    }
    >li.checked{
      border-color: #FFC000;
    }
  }

}
.tips-house:before {
  transform: rotate(45deg);
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  background: rgba(7,44,69,1);
  border: 1px solid #265DC0;
}
.tips-house:after {
  content: " ";
  display: block;
  width: 17px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-13%,0);
  background: rgba(7,44,69,1);
}

//实有人口弹窗
.tips-person{
  width: 1.54rem;
  height: .51rem;
  border:1px solid #265DC0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:rgba(7,44,69,.7);
  font-size: .08rem;
  padding: .06rem;
  .left-info{
    .info-name{
      color:#0094FC;
      font-weight: bold;
      margin-bottom:.07rem;
    }
    .info-adr{
      color: #fff;
      font-size: .07rem;
    }
  }
  .right-icons{
    >i{
      color: #0094FC;
      font-size: .08rem;
    }
  }
}
.tips-person:before {
  transform: rotate(45deg);
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  background: rgba(7,44,69,1);
  border: 1px solid #265DC0;
}
.tips-person:after {
  content: " ";
  display: block;
  width: 17px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-13% ,0);
  background: rgba(7,44,69,1);
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


