.flex{
  display: flex;
}
.left-list{
  width:1.97rem;
  height:4.95rem;
  background: url("../../images/border-list.png") no-repeat;
  background-size: 100% 100%;
  padding: .07rem .09rem .1rem .12rem;
  font-size: 9px;
  color: #fff;
}
.search-top{
  display: flex;
}
.search-btn{
  width:.4rem;
  height:.17rem;
  line-height: .17rem;
  color: #fff;
  background: #1990FF;
  text-align: center;
  margin-right:.03rem;
}
.search-input{
  width: 1.37rem;
  height:.17rem;
  line-height: .17rem;
  border: 1px solid #539CFF;
  background:rgba(25,74,141,.4);
  color: #fff;
  padding: 0 .05rem  0 0.07rem;
  >input{
    width:1.2rem;
    background: transparent;
    border: none;
    color: #fff;
  }
  input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
  }
}
.one-six{
  color: #009CFF;
  margin:.08rem 0 .09rem 0;
}
.six-item{
  width: 1.75rem;
  >li{
    width:1.75rem;
    height:.15rem;
    line-height: .15rem;
    margin-bottom:.05rem;
    display: flex;
    .item-info{
      width:1.03rem;
      background: rgba(10,48,97,.6);
      color: #fff;
      padding-left: .06rem;
    }
    .item-count{
      width: .72rem;
      background: #0A3061;
      color: #FFEA00;
      text-align: right;
      padding-right: .07rem;
    }
  }
}
.checkAll{
  margin:.11rem 0 .06rem;
}
.check-item{
  display: inline-block;
  >img {
    width: .08rem;
    height: .08rem;
  }
}
.tab-com{
  width: 1.79rem;
  height:0.17rem;
  line-height: .17rem;
  background: #539CFF;
  color: #FEFEFE;
  padding: 0 .07rem;

}