.shandow{
  background: rgba(12, 20, 55, 0.68);
  border: 1px solid #0075FC;
  box-shadow: 0px 0px 20px 0px #0075FC inset;
  position: relative;
}
.jiao{
  .top{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99991;
    width: .1rem;
    height: .1rem;
    border: .03rem solid #46A1FE;
    border-bottom: none;
    border-right: none;
  }
  .right{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99991;
    width: .1rem;
    height: .1rem;
    border: .03rem solid #46A1FE;
    border-bottom: none;
    border-left: none;
  }
  .bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99991;
    width: .1rem;
    height: .1rem;
    border: .03rem solid #46A1FE;
    border-left: none;
    border-top: none;
  }
  .left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99991;
    width: .1rem;
    height: .1rem;
    border: .03rem solid #46A1FE;
    border-top: none;
    border-right: none;
  }
}
